service vendor.hwcomposer-2-4 /vendor/bin/hw/android.hardware.graphics.composer@2.4-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    socket pps stream 0660 system system
    writepid /dev/cpuset/foreground/tasks
    writepid /dev/stune/top-app/tasks
    writepid /sys/fs/cgroup/cpu/foreground/tasks
